<h1>index page</h1>
<div>
    <img src="http://fillmurray.com/g/300/300" id="img-preview" />
    <label class="file-upload-container" for="file-upload">
        <input id="file-upload" type="file" style="display:none;">
        Select an Image
    </label>
</div>