/* main design for create review */
 #mainreview {
  background:#FFFFFF;
  width:80%;
  height: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top:50px;
	box-shadow:0px 2px 7px 1px #aa9191;
}

#mainreview h1 {
  padding: 50px;
}

#reviews label {
	font-weight: bold;
}

/* main design for listed reviews */
#reviewreview {
  background:#FFFFFF;
  width:80%;
  height: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top:50px;
	box-shadow:0px 2px 7px 1px #aa9191;
}

#reviewreview h2 {
  padding: 16px;

}

#descrip ul {
  padding-left: 30px;
  font-size: 1.5em;
}

/* main design for updating reviews  */
#themaincontentreview{
  background:#FFFFFF;
  width:80%;
  height: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top:50px;
	box-shadow:0px 2px 7px 1px #aa9191;
}

#maincontentreview{
  display: flex;
  justify-content: space-evenly;
  padding: 250px;
}

/* main design for final reviews  */
#updatedReview{
  background:#FFFFFF;
  width:80%;
  height: 800px;
	margin: 0 auto;
	padding: 10px;
	margin-top:50px;
	box-shadow:0px 2px 7px 1px #aa9191; 
}

#updatedReview ul {
 padding-left: 30px;
 font-size: 1.5em;
}
