<form id="form" action="/signup" method="POST">

    <label for="email">Email:</label>
    <br>

    <input type="text" name="email" placeholder="example@***.com">
    <br>

    <label for="username">Username:</label>
    <br>

    <input type="text" name="username" placeholder="Your username">
    <br>

    <label for="password">Password:</label>
    <br>
    <input type="password" name="password" placeholder="********">
    <br>

    <div>
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>


    <button type="submit">Create account</button>
    <br>

    <a href="/">Go Back To Index</a>

</form>