{{!-- TODO : What does this do? enctype? Allows more types of data to be submitted, like images --}}
<form id="form" action="/signup" method="POST" enctype="multipart/form-data">

   
    <br>
    <label for="username">Username:</label>
    <br>

    <input type="text" name="username" placeholder="Your username">
    <br><br>

    <label for="password">Password:</label>
    <br>
    <input type="password" name="password" placeholder="********">
    <br><br>

    <label for="image">Image</label>
    <input type="file" id="image" name="image" accept="image/*">
    <br> <br>
    
    <button type="submit">Create account</button>
    <br>

    <a href="/">Go Back To Index</a>

    <h3>Already have an account? <a href="/login">Sign In Here </a> </h3>

</form>